!!! 5
title NiconamaCommentViwe

link(rel='stylesheet', href='all.css', type='text/css')

div#windowFrame
  div#main
    div#header
    div#content

script(type='text/javascript', src='jquery-2.0.3.min.js') 
script(type='text/javascript', src='./all.js')